## Weather file summarize

In [15]:
import pandas as pd
import numpy as np

from ideotype.weafile_process import (wea_preprocess,
                                      wea_summarize)

In [6]:
# Read in weather data
basepath = '/home/disk/eos8/ach315/upscale/weadata/process'
df_temp, df_rh, df_precip, df_solrad = wea_preprocess(basepath)

In [19]:
# Preset parameters
gseason_start = 3
gsewason_end = 10
siteyears_filtered = pd.read_csv('/home/disk/eos8/ach315/upscale/weadata/siteyears_filtered_test.csv', dtype='str')

In [20]:
# Summarize weather data
df_wea = wea_summarize(siteyears_filtered,
                       df_temp, df_rh, df_precip, df_solrad,
                       gseason_start, gsewason_end)

In [22]:
df_wea.head()

,site,year,temp,temp_var,rh,rh_var,vpd,precip,precip_var,solrad,solrad_var
0,724230,1981,19.33,3.197110,67.31,4.903702,0.74,620.7,0.001351,215.23,353.863005
1,723270,1984,19.24,3.108028,67.31,4.721181,0.74,962.4,0.002666,232.75,384.974067
2,723270,1985,20.81,2.481715,67.42,5.557172,0.81,468.9,0.001180,237.67,380.429646
3,723340,1994,22.14,2.190552,65.14,5.328471,0.94,668.6,0.001465,226.84,382.946834
4,724460,1976,18.39,3.908074,65.60,6.045564,0.74,492.7,0.001238,238.28,380.468652