In [27]:
test = pd.read_csv('/home/disk/eos8/ach315/upscale/weadata/data/log_update.txt', header=None)
test.head()

              0            1               2
0  site: 722260   year: 1962   gap-filled: 9
1  site: 722260   year: 1962   gap-filled: 9
2  site: 722260   year: 1962   gap-filled: 9
3  site: 722260   year: 1986   gap-filled: 3
4  site: 722260   year: 1988   gap-filled: 3