In [ ]:
# look into how to figure out what's in the df_mat
# (nested dictionary structure in matlab)
from scipy.io import loadmat
df_mat = loadmat('/home/disk/eos8/ach315/data/NASS_cropdata/all_crops_2014.mat')

In [92]:
import pandas as pd
import numpy as np

In [243]:
df = pd.DataFrame({'c1': [np.nan,20,np.nan,25,np.nan],
                   'c2': [1,2,3,np.nan,5],
                   'c3': [12,4,1,2,3]})

df

     c1   c2  c3
0   NaN  1.0  12
1  20.0  2.0   4
2   NaN  3.0   1
3  25.0  NaN   2
4   NaN  5.0   3

In [269]:
df.isnull().any(axis=1)

0     True
1    False
2     True
3     True
4     True
dtype: bool

In [256]:
df.isnull().any(axis=1)[0]

True

In [244]:
df.interpolate(method='linear')

     c1   c2  c3
0   NaN  1.0  12
1  20.0  2.0   4
2  22.5  3.0   1
3  25.0  4.0   2
4  25.0  5.0   3

In [229]:
nanlist = list(df.c1.isnull().nonzero()[0])
for i in nanlist:
    df['c1'][i] = np.nanmean([df['c1'][i-1], df['c1'][i+1]])

df

/home/disk/eos8/ach315/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     c1    c2  c3
0  10.0   1.0  12
1  12.0   2.0   4
2  12.0   3.0   1
3  12.0   NaN   2
4  13.0   5.0   3
5  14.0  14.0  14